{% extends 'layout.html' %}
{% load static %}

{% block head %}
<title>UniPET</title>
<style>
    /* Add custom styles for video background */
    #video-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 150%;
        height: 100%;
        object-fit: cover;
        z-index: -1; /* Place the video behind other elements */
    }

    .overlay {
        background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .hero-content {
        position: relative;
        z-index: 1;
        text-align: center;
        color: #fff; /* Set text color */
    }
</style>
{% endblock %}

{% block body %}

  <!--Hero 1 Start-->
    <div class="video-container">
        <video id="video-bg" autoplay muted loop>
          <source src="{% static 'AnimationVeterinary.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay"></div>
        <div class="hero-content pt-5 pb-5">
            <h1 class="display-1 cGreen me-2 ms-2">UniPET</h1>
            <p class="fs-4 mt-3">Where Paws Meet Appointments – Tailored Pet Care with Love and Precision!</p>
            <a type="button" class="btn btn-info text-white shadow mt-5" href="{% url 'booking' %}">Make an Appointment Now!</a>
        </div>
    </div>
  <!--Hero 1 End-->

{% endblock %}

   <source src="{% static 'clinic/Animation Veterinary - Video Ads 360.com (1080p).mp4' %}" type="video/mp4">

